/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Domine|EB+Garamond');
@import url('https://fonts.googleapis.com/css?family=EB+Garamond');

/* Colours */
$primary: rgba(255,255,255,1);
$background: rgba(255, 255, 255, 0.2);
$gradient1: #085078;
$gradient2: #85d8ce;
$gradient3: #808080;
$gradient4: #ffffff;

//Coming soon page

.coming-soon{
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-size: 25px;
  background: -webkit-linear-gradient(45deg, $gradient1 10%, $gradient2 90%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


body{
  margin: 0;
  color: white;
  font-family: 'EB Garamond', serif;
  overflow: visible !important;
  background: -webkit-linear-gradient(45deg, $gradient1 10%, $gradient2 90%);
  // background: -moz-linear-gradient(45deg, $gradient1 10%, $gradient2 90%);
  // background: -ms-linear-gradient(45deg, $gradient1 10%, $gradient2 90%);
  // background: -o-linear-gradient(45deg, $gradient1 10%, $gradient2 90%);
  // background: linear-gradient(45deg, $gradient1 10%, $gradient2 90%);
}

.icon {
  color: $primary;
  font-size: 56px;
  border-radius: 5px;
  margin: 20px;
}
// Hero Image
// .image{
//   position: fixed;
//   top: 0;
//   width: 100vw;
//   height: 100vh;
//   background-image: url("../lake.jpg");
//   background-repeat: no-repeat;
//   background-size: cover;
//   z-index: -1;
// }

// Section Text
.section > p{
  font-family: 'Domine', serif;
  margin: 0 30px;
}

.section{
  background-color: $background;
  height: 50vh;
  position: relative;
  margin: 50vh 0;
  height: 400px;
}

// Project Icon
.project-icon{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* Slider */
.slider-wrap {
  width: 100vw;
  margin: 0;
}

.slider {
  background: $background;
  overflow-x: scroll;
}

.holder {
  width: 300%;
  display: flex;
  flex-direction: row;
}

.slide {
  width: 100vw;
  display: flex;
  flex-direction: row;
  position: relative;
  background-position: -100px 0;
}
#slide2{
  left: 0
}
.slide > div{
  width: 50%;
}

.gif{
  margin: 20px;
  & img{
    width:100%;
    border-radius: 5px;
    border: 2px solid $primary;
  }
}

.project-description{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  margin: 0 20px;
}

.project-icon{
  width: 100%;
  display:flex;
  justify-content: space-around;
}

// Flipping Box
.flip-box {
  background-color: transparent;
  width: 56px;
  height: 56px;
  perspective: 1000px;
}

.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-box-front {
  background-color: transparent;
  color: black;
}

.flip-box-back {
  background-color: transparent;
  border: 2px solid $primary;
  border-radius: 5px;
  color: $primary;
  transform: rotateY(180deg);
}
