//------------------Fonts------------------
@import url('https://fonts.googleapis.com/css?family=Domine|EB+Garamond');
@import url('https://fonts.googleapis.com/css?family=EB+Garamond');
$font-primary: 'EB Garamond', serif;
$font-secondary: 'Domine|EB+Garamond';

//------------------Colors------------------
$primary: rgba(255,255,255,1);
$background: rgba(255, 255, 255, 0.2);
$gradient1: #085078;
$gradient2: #85d8ce;
$gradient3: #808080;
$gradient4: #ffffff;

//------------------General------------------
*{
  box-sizing: border-box;
}

h1, h2, a{
  font-family: $font-primary;
  text-decoration: none;
  color: $primary;
}

p{
  font-family: $font-secondary;
  color: $primary;
}

body{
  margin: 0;
  overflow: visible !important;
  background: -webkit-linear-gradient(45deg, $gradient1 10%, $gradient2 90%);
  background: -moz-linear-gradient(45deg, $gradient1 10%, $gradient2 90%);
  background: -ms-linear-gradient(45deg, $gradient1 10%, $gradient2 90%);
  background: -o-linear-gradient(45deg, $gradient1 10%, $gradient2 90%);
  background: linear-gradient(45deg, $gradient1 10%, $gradient2 90%);
}

// Hero Image2
// .image{
//   position: fixed;
//   top: 0;
//   width: 100vw;
//   height: 100vh;
//   background-image: url("../lake.jpg");
//   background-repeat: no-repeat;
//   background-size: cover;
//   z-index: -1;
// }

.section{
  background-color: $background;
  height: 50vh;
  position: relative;
  margin: 25vh 0;
  height: 400px;
}

.icon {
  color: $primary;
  font-size: 50px;
  border-radius: 5px;
  width:50px; //for airbnb image
}

@media screen and (max-width: 480px) {
  .section{
    height: auto;
    margin: 25vh 0;
  }
}
//------------------Coming soon page------------------
//
// .coming-soon{
//   color: white;
//   font-family: "Courier New", Courier, monospace;
//   font-size: 25px;
//   background: -webkit-linear-gradient(45deg, $gradient1 10%, $gradient2 90%);
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   height: 100vh;
// }

//------------------Section intro------------------
.intro{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  & p, h1{
    margin: 0;
  }
}
@media screen and (max-width: 480px) {
  .intro{
    h1{
    font-size: 32px;
    }
    p{
      font-size: 24px;
    }
  }
}
//------------------Section skills------------------
.skills{
  text-align: center;
  & .skills-container{
    display: flex;
    & .skill-category{
      display: flex;
      flex-wrap: wrap;
      align-content: center;
      justify-content: space-around;
      width: 25%;
      margin: 10px;
      padding: 20px;
      border: 2px $primary solid;
      border-radius: 5px;
      & .icon-container{
        width:50px;
        height: 50px;
        margin: 20px;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .skills{
    & .skills-container{
      flex-direction: column;
      & .skill-category{
        width: 100%;
        margin: 0;
        border-radius: 0;
        border: none;
        border-top: 2px solid $primary;
      }
    }
  }
}

//------------------Slider------------------
.section.projects{
  background: transparent;
  & .slider-wrap {
    width: 100vw;
    margin: 0;
    & .slider {
      overflow-x: scroll;
      & .holder {
        width: 267%;
        display: flex;
        flex-direction: row;
        & .slide {
          background: $background;
          width: 96vw;
          height: 400px;
          margin: 0 2vw;
          display: flex;
          flex-direction: row;
          position: relative;
        }
        & .slide > div{
          display: flex;
          align-items: center;
          width: 50%;
        }
        & .gif{
          margin: 20px;
          & img{
            width:100%;
            border-radius: 5px;
            border: 2px solid $primary;
          }
        }
        & .container-project-description{
          display: flex;
          align-items: center;
          justify-content: center;
          & .project-description{
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: justify;
            margin: 0 20px;
            & p{
              margin: 0 30px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .section.projects{
    & .slider-wrap {
      & .slider {
        overflow-x:hidden;
        & .holder {
          width: 100%;
          flex-direction: column;
          & .slide {
            width: 100vw;
            height: auto;
            margin: 20px 0;
            flex-direction: column;
          }
          & .slide > div{
            flex-direction: column;
            width: 100%;
          }
          & .gif{
            width: 100%;
            margin: 20px 0;
            & img{
              border-radius: 0;
              border: none;
            }
          }
          & .container-project-description{
            flex-direction: column;
            order: -1;
            & .project-description{
              margin: 0;
              & p{
                margin: 0;
              }
            }
          }
        }
      }
    }
  }
}

//------------------Flipping Box------------------
.project-icon{
  width: 100%;
  display:flex;
  justify-content: space-around;
  margin: 20px;
  & .flip-box {
    background-color: transparent;
    width: 50px;
    height: 50px;
    perspective: 1000px;
    & .flip-box-inner {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      width: 100%;
      height: 100%;
      transition: transform 0.8s;
      transform-style: preserve-3d;
      & .flip-box-front, .flip-box-back {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
      }
      & .flip-box-front {
        background-color: transparent;
        color: black;
      }
      & .flip-box-back {
        height: 30px;
        width: 80px;
        background-color: transparent;
        border: 2px solid $primary;
        border-radius: 5px;
        color: $primary;
        transform: rotateY(180deg);
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

//------------------Section contacts------------------
.contacts{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  & > *{
    margin: 10px;
  }
}

//------------------Responsivness------------------
